# ASSN_01

Please complete the following questions and tasks. When writing code, please provide answers in Python. Please provide all answers in this ipynb notebook. Readability of the code and questions will count for 10% of the assignment, so please comment and use Markdown to make the ipynb easy to read!

Once completed, please turn this ipynb into the corrresponding assignment on `Blackboard`. `I WILL NOT ACCEPT FILES THAT ARE NOT IPYNB!!`

In general the programs you write should work for any data passed in, not just the "input" given. For example, if I ask you to print all values in a list, if they are equal to 3 for the list - l=[1,2,3,2,3] the answer could be...
```
[print(i) for i in l if i==3]
```
But should **NOT** be...
```
print(l[2])
print(l[[-1])
```

## Question #1
Please research, explain and demonstrate common String formatting methods for Python. This will be crucial in creating clean and easy to read notebooks, but do not have time to teach in class. Python programming requires a lot of "Google skill", and this will be good practice for that. (You do not need to actually do anything here other than research!)
  
Python
- String formatting methods (hint "f strings" and "string format")
- How to format numbers to show dollars, rounding, percent etc

# **Answer for question 1**
### There are five different ways to perform string formatting in Python

* Formatting with % Operator.

To format a number as a percentage, use the % type specifier. The value is automatically multiplied by 100.
* Formatting with format() string method.

You define placeholders with curly braces ({}) and then call .format() on the string, passing the values as arguments. The values can be passed by position or by name. 

* Formatting with string literals, called f-strings.
* Formatting with String, Template, Class
* Formatting with center() string method.

## Question #2
Given the following input list, write code to test if the first and last values are equivalent.
- Python Input Data:
```
vals = ["1", "1.3", "1B", "4", "tent"]
```

In [1]:
# We copy and past our input data to set our list of values
vals = ["1", "1.3", "1B", "4", "tent"]

# Here we use if statement to check if the first and last values are eqivalent
if vals[0]==vals[4]: # the first value equals to the last value then perform the followig action
  print(vals[0],'equals to', vals[4])  # if they are equal we a function printing this statement
else:
  print(vals[0], 'is not equal to', vals[4]) # if they are not equal we a function printing this statement

1 is not equal to tent

## Question #3
Given a list/vector of values, write code to count the instances of each unique value and store them in a data structure (hint… a dictionary will be helpful).
For example, if a list has 3 instances of 10.... the data structure should show {10: 3}
 - Python Input Data: [1,1,10,4,5,4,8,1,1,9,10,3, 3, 4, 1, 10, 11]

In [2]:
#This code uses for-loop and if-statement to count the number of each unique value in the given list.
# The code works with any combination of values
mylist = [1,1,10,4,5,4,8,1,1,9,10,3, 3, 4, 1, 10, 11] # This is the list of unique numbers which we need to count
counter = {} # Creating the empty dictionary where we will put our unique values as keys and number of these values
for i in mylist: # Using for-loop here to check every value as "i" in our list and perform the next action
  if i in counter: # Using if-statement to check if current value "i" is already in our dictionary
    counter[i] +=1 # If we already have this value in our vocabulary then we just increase the number of it by 1
  else:
    counter[i] = 1 #If it is the first time we meet this value then we write just 1
print(counter) # Using function "print" to print our dictionary and check the number of each value in our list

{1: 5, 10: 3, 4: 3, 5: 1, 8: 1, 9: 1, 3: 2, 11: 1}

## Question #4
Write a Python program to find those numbers which are divisible by both 7 and  5, between 1 and 10,000 (inclusive).

## Answer for Question #4
We need to find all numbers between 1 and 10,000 (inclusive) that are divisible by both 7 and 5.  

Here for gonna use % which gives us remainder after division

In [ ]:
# We starts with creating an empty list where we will store our results
mylist = []
# Then we use for-loop through all numbers from 1 to 10,000
for i in range (1,10001):
  # Check if the number is divisible by 7
  if i % 7 == 0:
    # Inside the if-statement check if it is also divisible by 5
    if i % 5 ==0:
      # If both conditions are true add the number to our list
      mylist.append(i)
# This function print the final result of numbers
print(mylist)

[35, 70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490, 525, 560, 595, 630, 665, 700, 735, 770, 805, 840, 875, 910, 945, 980, 1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975, 3010, 3045, 3080, 3115, 3150, 3185, 3220, 3255, 3290, 3325, 3360, 3395, 3430, 3465, 3500, 3535, 3570, 3605, 3640, 3675, 3710, 3745, 3780, 3815, 3850, 3885, 3920, 3955, 3990, 4025, 4060, 4095, 4130, 4165, 4200, 4235, 4270, 4305, 4340, 4375, 4410, 4445, 4480, 4515, 4550, 4585, 4620, 4655, 4690, 4725, 4760, 4795, 4830, 4865, 4900, 4935, 4970, 5005, 5040, 5075, 5110, 5145, 5180, 5215, 5250, 5285, 5320, 5355, 5390, 5425, 5460, 5495, 5530, 5565, 5600, 5635, 5670, 5705, 5740, 5775, 5810, 5845, 5880, 5915, 5950, 5985, 6020, 6055, 6090, 6125, 6160, 6195, 6230, 6265, 6300, 6335, 6370, 6405, 6440, 6475, 6510, 6545, 6580, 6615, 6650, 6685, 6720, 6755, 6790, 6825, 6860, 6895, 6930, 6965, 7000, 7035, 7070, 7105, 7140, 7175, 7210, 7245, 7280, 7315, 7350, 7385, 7420, 7455, 7490, 7525, 7560, 7595, 7630, 7665, 7700, 7735, 7770, 7805, 7840, 7875, 7910, 7945, 7980, 8015, 8050, 8085, 8120, 8155, 8190, 8225, 8260, 8295, 8330, 8365, 8400, 8435, 8470, 8505, 8540, 8575, 8610, 8645, 8680, 8715, 8750, 8785, 8820, 8855, 8890, 8925, 8960, 8995, 9030, 9065, 9100, 9135, 9170, 9205, 9240, 9275, 9310, 9345, 9380, 9415, 9450, 9485, 9520, 9555, 9590, 9625, 9660, 9695, 9730, 9765, 9800, 9835, 9870, 9905, 9940, 9975]

## Question #5
Given the following input lists/vector in Python, Answer the following questions for Python

- Python input:
```
vals = [1, 10, None, 45, 3, None, 8]
```

### 5a.
What happens if you sum the list/vector containing null values?

In [9]:
vals = [1, 10, None, 45, 3, None, 8]
#vals = [1, 10, 45, 3, 8]
vals

[1, 10, 45, 3, 8]

In [ ]:
#To check this statement we gonna use list/vector with and without null values
vals = [1, 10, None, 45, 3, None, 8]
#vals = [1, 10, 45, 3, 8]

#If try to sum values with null values, we will get an error because it is not allowed in python as they have different types (integer,Nontype)
sum_ = sum(vals)

#sum_ =vals[0]+vals[1]+vals[2]+vals[3]+vals[4]+vals[5]+vals[6]+vals[7] # the second  variant

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

### 5b.
Using the list from the previous question, create a new list of Boolean values that contains boolean values(or null) and is true if an item is equal to 3.

Python output should be:
```
[False, False, False, False, True, False, False]
```

## Markdown for Question 5b.
Checking which values are equal to 3

We are going to create a list of boolean values (True, False) that will mark whether each item in the list is equal to 3.

In [ ]:
vals = [1, 10, None, 45, 3, None, 8] # The list of our values
# Create an empty list where we gonna put our boolean values
empty = []
# Use for-loop for checking each value in the original list
for i in vals:
  # If the value equals 3, add True to the results
  if i == 3:
    empty.append(True)
  # If it is not equal to 3, add False
  else:
    empty.append(False)

empty #Check our output and if equals to the example

[False, False, False, False, True, False, False]

### 5c.
Write a Program to count the number of null **values**, without using any Python built-in functions.

In [11]:
vals = [1, 10, None, 45, 3, None, 8] # The list of our values
empty = 0 # Set value for a new variable which we gonna use as a counter

# Use for-loop to check one by one if the specific value
for i in vals:
  # Check if the value in our list is null value in our list
  if i == None:
    # If it is null add to add 1 to counter
    empty+=1

# Check our result as output using function "print"
print (empty)

2

### 5d.
Create a new list/vector with the null values removed. Hint... a For-loop with an if-statement will be useful.

In [12]:
empty = [] # here we are creating an empty list

for i in vals: #using for-loop checking every variable(i) in our list vals
  if i != None: # using if-statement
    empty.append(i)

# Check our result as output using function "print"
print (empty)

[1, 10, 45, 3, 8]

## Question #6
De-bug the following blocks of code. Please document in comments what you changed and why.... What type of error is each?

In [ ]:
capitals = {"Maryland" : "Annapolis", # { was forgotten to create a set.  Also removed the spave in front of "capitals"
    "California" : None,
    "New York": "Sacramento", # appeared error because of the lack of one more " to close the text
    "Utah": "Albany",         # again there was lack of " after Utah to close the text
    "Alabama": "Salt Lake City"
  }
print(capitals["Utah"])     # changed comma ' to ". Although both of the work , it is still necesarry for them to be in pair "" or ''. Also removed the spave in front of "print"

  #-- print the keys of the dictionary
print(capitals.keys) # here is forgotten ()

#-- Print the State and Capitals
for state, city in capitals.items():
  print(f"The capital of {state} is {city}.")

Albany
<built-in method keys of dict object at 0x791e9423e900>
The capital of Maryland is Annapolis.
The capital of California is None.
The capital of New York is Sacramento.
The capital of Utah is Albany.
The capital of Alabama is Salt Lake City.

## Question #7
Given the below input data types in Python, convert the following hash (dictionary) into a list that all have the same denomination. e.g. if a number is "1" in thousands, turn it into 1,000.
- Python: {10: "thousands", 1000: "ones", .0005: "millions", .000000324234: "trillions"}



Example Output:
```
[10000, 1000, 500, 324234]
```

In [2]:
# Dictionary with numbers and their units
dict2 = {10: "thousands", 1000: "ones", .0005: "millions", .000000324234: "trillions"}

newlist=[] # new empty list to store the converted values

# Use converter to conver each unit (to turn everything into "ones")
converter = {"thousands": 1000, "ones": 1,"millions": 1000000, "trillions":1000000000000}
# Go through each key-value pair in the dictionary
for i,k in dict2.items():
  m = i* converter[k]
  m = int(m)
  newlist.append(m)

# Check our result as output using function "print"
print(newlist)

[10000, 1000, 500, 324234]

## Question #8
Write a block of code, that finds and prints the largest value in a list. Please do not use any built-in functions, and the code should generalize well if the list inputs changed. This would include lists with different data, and lists of different length.

In [18]:
list_of_numbers = [1000,3213,2323,2312,2323]

In [32]:
k = list_of_numbers[0]

#Using for-loop to take every number from the list and compare it with the previous biggest number that we set
for i in list_of_numbers:
  print(i) #checking current i
  if i>k:
    k=i
  print (k) #checking current k
print (f"The largest value in a list is:", k) #the final result

1000
1000
3213
3213
2323
3213
2312
3213
2323
3213
The largest value in a list is: 3213

## Question #9
Write a block of code to determine if a given input number is a prime number. If the number is a prime number, print "number is a prime number" otherwise print "number is not a prime number"

In [63]:
input_num = int(input()) #checking how input function works
print(input_num)

15
15

In [4]:
# Checking if a number is a prime number

input_num = int(input()) # Just add an input number function to use any number from the user and convert it to an integer
list = 0 # Create a counter to count how many divisors the number has

# Loop through all numbers from 1 up to ( not including) the input number
for i in range (1, input_num):
  if input_num % i == 0:
   list += 1
# If the number has more than 2 divisors (1 and itself), it is not prime and print this statement as a result
if list>2:
  print (input_num, f"is not a prime number")

else:
# If the number has no more than 2 divisors, it is prime and print this statement as a result
  print (input_num, f"is a prime number")

15
15 is not a prime number

## Question #10
Taking in a list of multiple data types, sort the data in to a dictionary by the data type. The dictionary should consist of keys that correspond to a data type (e.g. int, float, str etc., the type/typeof functions should be useful), the values should be a list of all of the values of that data type
- Python: ["hey", 10, True, None, 23.43, 10.2, "second", 11,12, False, None]

In [83]:
#Sorting values by data type

data = ["hey", 10, True, None, 23.43, 10.2, "second", 11,12, False, None]

# Create an empty dictionary to store results by type
# List for integer, float, string and etc values.
result = {"int" : [],
          "float" : [],
          "str" : [],
          "etc": []}

# Loop through each item in the original list
for i in data:
  if type(i) == int:
    result["int"].append(i) # Add integers to "int" list 
  else:
    if type(i) == float:
      result["float"].append(i) # The same here with float
    else:
      if type(i) == str:
        result["str"].append(i)  #The same here with sting
      else:
        result["etc"].append(i) #The same here with other
#Check the final result
result

{'int': [10, 11, 12],
 'float': [23.43, 10.2],
 'str': ['hey', 'second'],
 'etc': [True, None, False, None]}